# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
venv/
bin/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
# *.mo

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Local Stuff
db.sqlite3
local_settings.py
/media
/static
/server
fabfile.py
