{% extends ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n  crispy_forms_tags %}

{% block content %}
    {% if not ajax %}
    <div class="infobox">
    {% endif %}

    <section>
        {% if festival.url %}
            <h4><a target='_blank' href='{{ festival.url }}'>{{ festival.title }}</a></h4>
        {% else %}
            <h4>{{ festival.title }}</h4>
        {% endif %}
        {% if festival.start_date == festival.end_date %}
            <div class="date">{{ festival.start_date }}</div>
       {% else %}
            <div class="date">{{ festival.start_date }} - {{ festival.end_date }}</div>
        {% endif %}
        <div class="location">{{ festival.location }}<br>{{ festival.city }}</div>

        {% comment %}
        {# We don't really need to show the genres             #}
        <ul class="genres inline-list">
            {% for genre in  festival.genres.select_related %}
                <li><span class="label radius">{{ genre }}</span></li>
            {% endfor %}
        </ul>
        {% endcomment %}
        <ul class="artists inline-list">
            {% for artist in  festival.artists.select_related %}
                <li>
                    {% if  artist.avatar_url_small %}
                        {% if artist.get_external_url %}
                            <a href="{{ artist.official_url }}" target="_blank"><img src="{{ artist.avatar_url_small }}" alt="{{ artist.name }}" title="{{ artist.name }}"></a>
                        {% else %}
                            <img src="{{ artist.avatar_url_small }}" alt="{{ artist.name }}" title="{{ artist.name }}">
                        {% endif %}
                    {% else %}
                        {% if artist.get_external_url %}
                            <a href="{{ artist.official_url }}" target="_blank"><img src="http://placehold.it/65x65&text={{ artist.name }}" alt="{{ artist.name }}" title="{{ artist.name }}"></a>
                        {% else %}
                            <img src="http://placehold.it/65x65&text={{ artist.name }}" alt="{{ artist.name }}" title="{{ artist.name }}">
                        {% endif %}
                    {% endif %}
                    {# <span class="label">{{ artist.name }}</span> #}
                    {% comment %}
                        
                    <div class="artist-description">
                        <h6>{{ artist.name }}</h6>
                    </div>
                    {% endcomment %}
                </li>
            {% endfor %}
        </ul>

        <div class="festival-feedback">
            <a href="#" data-bind="click: showReportForm" class="report-error button alert expand">{% trans "Report An Error" %}</a>
        </div>
    </section>

    <section class="report-form">
        {# {% include "festivals/report_error_form.html" %} #}
        {# <form method="post" data-bind="submit: submitReportForm" action="{% url 'festival-report' festival.slug %}" data-abide> #}
        <form method="post" data-bind="submit: submitReportForm" action="{% url 'festival-report' festival.slug %}">
            {% crispy form %}
        <form>
    </section>

    {% if not ajax %}
    </div>
    {% endif %}
{% endblock content %}