{% extends "base.html" %}

{% load i18n %}

{% block bodyid %}fullscreen{% endblock bodyid %}

{% block content %}
    <div id="map" data-bind="map:festivals"></div>
    {% comment %}
    <div id="footer">
        <h1>METALFEST</h1>
    </div>
    <div id="overlay" class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <section class="right-small">
                <a class="right-off-canvas-toggle" href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </section>
            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Users</label></li>
                    <li><a href="#">Hari Seldon</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </aside>
            <section class="main-section">
            </section>
            <a class="exit-off-canvas"></a>
        </div>
    </div>
    {% endcomment %}
    <div id="overlay" class="panel" data-bind='animatedVisible: displayOverlay'>
        <header>
            <div class="row">
                <div class="small-12 columns">
                    <h1>THE MAP of METAL</h1>
                    <h4>Follow the noise all over <i class="fa fa-globe"></i>!</h4>
                </div>
            </div>
        </header>
        {% comment %}
            
        <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        </form>
        {% endcomment %}
        <form id="filter">
            {# <select multiple="true" data-bind="options: states, optionsValue: 'id', optionsText: 'text', selectedOptions: selectMultipleStates, select2: { }" style="width: 300px"></select> #}
            <div class="row">
                <div class="small-12 columns">
                    <label>{% trans "Filter by bands" %}</label>
                    <select multiple="true" data-bind="selectedOptions: selected_bands, options: bands, select2: { }"></select>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label>{% trans "Filter by genres:" %}</label>
                    <select multiple="true" data-bind="selectedOptions: selected_genres, options: genres, select2: { }"></select>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {# <label>{% trans "Filter by dates" %}</label> #}
                    <div id="slider"></div>
                </div>
            </div>
        </form>

        <footer>
            <div class="row">
                <div class="small-12 columns">
                    <div id="legend">
                        <h5>{% trans "Map Legend" %}</h5>
                        <ul class="small-block-grid-3">
                          <li>
                            <div><i class="icons upcoming"></i></div>
                            <h6>{% trans "Upcoming Festivals" %}</h6>
                          </li>
                          <li>
                            <div><i class="icons lack-info"></i></div>
                            <h6>{% trans "Upcoming but Lacking Lineup Info" %}</h6>
                          </li>
                          <li>
                            <div><i class="icons past"></i></div>
                            <h6>{% trans "Past Festivals" %}</h6>
                          </li>
                        </ul>
                    </div>
                    <div id="legal" class="row">
                        <div class="large-12 columns">
                            {# <p>Copyright &copy; 2009-{% now "Y" %} argonemyth dev.</p> #}
                            <p>Made with <i class="fa fa-heart"></i> by <a href="www.argonemyth.com" target="_blank" title="Full-stack web app / website developerment">argonemyth</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <a class="pull-right" data-bind='click: hideOverlay' href="#">
            [-]
            {% comment %}
            <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
            </span>
            {% endcomment %}
        </a>
    </div>
    <div id="logo" class="panel" data-bind='click: showOverlay'>
        <header>
            <div class="row">
                <div class="small-12 columns">
                    <h1>THE MAP of METAL</h1>
                    <h4>Follow the noise all over <i class="fa fa-globe"></i>!</h4>
                </div>
            </div>
        </header>
    </div>
    {% comment %}
    <div id="show-overlay-button" data-bind='click: showOverlay' href="#">
        <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    {% endcomment %}

{% endblock content %}