@import "settings";
@import "foundation";
@import "compass/css3";
@import "compass/typography/links/link-colors";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// fonts
@include font-face("Mohave", font-files("/static/fonts/Mohave.otf", opentype)); // For the logo 

html, body#fullscreen{
    height: 100%;
}

body#fullscreen {
    overflow: hidden; // to hide the overlay
    #map {
        width: 100%;
        height: 100%;
        img {
            // fix the zooming widget display
            max-width: none !important;
        }
    }
    form#filter {
        width: 400px;
    }
    #footer {
        position: absolute;
        width: 100%;
        z-index: 1000;
        bottom: 0;
        left: 0; 
        // height: 10rem;
        background-color: $body-bg; 
        h1 { color: #FFF;}
    }
    #overlay {
        position: absolute;
        top: 1rem;
        right: 0;
        footer {
            margin-top: 1rem;
            border-top: 1px solid #000;
            #legend {
                background-color: $primary-color;
                width: 100%;
                height: 300px;
            }
        }
    } 
    #show-overlay-button {
        position: absolute;
        top: 1rem;
        right: 0;
        display: none;
    }
}

// Date slider override
.ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
    background: $body-bg;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow {
    height: 26px;
}
.ui-rangeSlider-bar{
    background: #00B4CC;
    height: 25px;
}
.ui-rangeSlider-label {
    box-shadow: none;
}

.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner{
  border-right-color: #00B4CC;
}

.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner{
  border-right-color: lighten(#00B4CC, 10%);
}

.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner{
  border-left:10px solid #00B4CC;
}

.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner{
  border-left:10px solid lighten(#00B4CC, 10%);
}

.ui-rangeSlider-label-inner {
    border-top-color: $body-bg;
}

// select2 override
$border-color: #00B4CC;
.select2-container, .select2-container-multi {
    width: 100%;
}

.select2-container-multi .select2-choices {
    background: $body-bg;
    border-color: $body-bg;
    .select2-search-field input {
        height: 26px;
    }
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border-color: $border-color;
}

.select2-drop-active {
    border-color: $border-color;
    // background: $body-bg;
    .select2-results {
        // background-color: $body-bg;
    }
}

.select2-results .select2-highlighted {
    background: $border-color;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border-color: $border-color;
    background: $border-color;
    color: #FFF;
    box-shadow: none;
}